# Arquivos e pastas do sistema (Windows, macOS)
.DS_Store
Thumbs.db
desktop.ini

# Arquivos de configuração locais (VSCode, etc.)
.vscode/
*.log

# Cache de sistema ou arquivos temporários
*.tmp
*.swp

# Diretórios de build futuros (se um dia usar React, Next, etc.)
dist/
build/
out/

# Arquivos do Mac e do Windows
Icon?
ehthumbs.db

# Backup de arquivos
*.bak
*.backup
*.old
*.orig
